<!DOCTYPE html>
<html class="w-100 h-100">
    <head>
        <title>{#insert title}Connection{/}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
    </head>
    <body class="w-100 h-100 d-flex flex-column">
        {#include partials/nav.html}{/include}
        {#insert contents}No contents!{/}
        {#include partials/footer.html}{/include}
    </body>
</html>
